{
  "extends": "@folio/eslint-config-stripes",
  "parser": "@babel/eslint-parser",
  "rules": {
    "react/jsx-sort-props": "error"
  },
  "overrides": [
    {
      "files": ["test/**"],
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    }
  ],
  "env": {
    "jest/globals": true
  },
  "plugins": ["jest"]
}
